body{
    background-color: rgb(177, 135, 255);
}
.vibe{
    align-items: center;
    text-align: center;
}
h1{
    text-align: center;
    color: rgb(37, 34, 34);
}

.texto{
    color: rgb(70, 66, 66);
}